# Local files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
dist/
build/
.next/
.nuxt/
.output/
.angular/
.nx/cache
.nx/workspace-data

# Test
coverage/
.nyc_output/

# Env
.env
.env.local
.env.*.local

# Misc
*.log
